.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.app__version {
  margin-top: -30px;
}

.app__appName {
  font-size: 50px;
  font-family: fantasy;
}

.add__todo {
  margin-left:101px;
}

.app_todoContainer {
  margin-left:20px;
  margin-top: 50px;
}